extends layout

block content
    
    div(class="container-sm")

        br
        h3 About
        
        p(style="font-size:250%") 
            
            h5 Hey there!
            br 
            p I'm 
                a(href="/bartender/recde4kp6Wlg4Cuzv" class="stretched-link") Jake 
                a   and I've started this site because I love bars and I love bartenders.
            p Bartenders have helped me celebrate, helped me mourn. Bars have employed me at numerous points in my life.  
                a I even met my wife at a bar.
            p And now, across the country, the incredibly talented bartenders, and the miraculous institutions that employ them, 
                a that have been there for me at my best times and at my worst, are facing an existential crisis because of Covid-19. 
            p With unprecedented unemployment, temporary & permanent closures there will no doubt be long term 
                a implications for the industry, even once a vaccine is widely available. 
            p But while the traditional framework for social drinking is in crisis, 
                a the services that bartenders offer are as critical now as they have ever been. 
            p The cocktails, creativity, support, knowledge, the buzz that the barroom and the bartender provide are essential.  
                a The evidence is everywhere.  Record setting liquor store sales, proliferation of social media cocktail tutorials,  
                a the stoop/ backyard/ patio/ & social-distance block parties outside our doors.  
                a The art of bartending will transcend this moment.     
            br
            p My goal with this site is to help unemployed and under-employed bartenders earn extra money by finding alternative channels 
                a to share cocktail experiences in a post pandemic world.
            p To do this, I hope to:
            ul
                li Create and aggregate bartender content that helps drinkers make their favorite cocktails at home
                li Attract curious drinkers to watch our bartenders videos, read our recipes, and meet our talent
                li Introduce a drinker community to a bartender community, digitally, until we can do it in person once again  
            br
            br
            p A little about me... 
            p I grew up and lived in Massachusetts until I was about 18.  Through a gap year as a line cook, I fell in love with the restaurant world.  
                a In college I worked in restaurants, bars and a couple of Boston breweries, and I moved to New York City after graduating to pursue a career in tech.
                a ... While looking for said career, the restuarant industry had my back.  For several months I worked as a waiter to make ends meet. 
            p For the past ten years I've been a product manager professionally, building software and applications for some of the world's largest banks and corporations. 
            p I currently live in Chicago, IL with my wife.

            br
            h5 Thanks for visiting!