extends layout

block content
    
    div(class="container-sm")

        br
        h3(style="text-align: center") The Bar in Detail @ <strong>(205) 851 - 0419</strong>
        
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br

            //p(style="font-size:250%") 
            
            //h5 Hey there!
            div(class="card-body row justify-content-center text-dark bg-light" style="font-size:75%")
                p The Bar, in Detail is a free service that connects people who are interested in making better cocktails with professional bartenders that provide guidance, recipes and tradecraft.  
                p The interactions between patrons and bartenders happen anonymously over text.  
                p Our bartenders are talented, experienced professionals, many of whom have had their employment impacted by COVID-19.
                p If you enjoy their suggestions, we make it easy to tip via Venmo and CashApp, almost as if you were in a real bar (remember those?).

                p We also license the technolgy to bars, restaurants and liquor stores who want to enable their staff to interact with their customers and followers via text.
                p Email us at jake@indetail.app if you'd like to learn more.

                //a(href="/bartender/recde4kp6Wlg4Cuzv" class="stretched-link") Jake 

            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
        