extends layout

block content

    
    
    //<a href="/apply"><button type="button" class="btn btn-outline-primary">About</button></a>

    //h1 TheBar.InDetail
    br
    p 
        div(class="row justify-content-center" style="text-align: center") 
            H4 Curated cocktails & step by step instructions from professional bartenders
        br
        div(class="row justify-content-center") 
            a(href="/bartender/recOIiRR03SMjZxbf")
                    button(type="button" class="btn btn-outline-light btn-lg" style="width:150px") Featured Bartender
        br
        div(class="row justify-content-center")   
            a(href="/menu")
                button(type="button" class="btn btn-outline-light btn-lg" style="width:150px") Menu
        br
        div(class="row justify-content-center")
            a(href="/staff")
                button(type="button" class="btn btn-outline-light btn-lg" style="width:150px") Staff
    br
    br
