extends layout

block content

    br
    br
    br

    
    div(class="announcement-mobile text-center")
    
                //-             //<a href="/apply"><button type="button" class="btn btn-outline-primary">About</button></a>

                //-             //h1 TheBar.InDetail
                //-             //p 
                //-             //div(class="row justify-content-center" style="text-align: center") 
                //h4 Curated cocktails & step by step instructions from professional bartenders

    br
    br
    br
    br

    //div(class="row")    
        div(class="col") 
            a(href="/menu")
                //button(type="button" class="btn btn-outline-light btn-lg btn-block" style="height: 150px") 
                    h1 Menu
                button(type="button" style="height: 100px") 
                    h1 Menu
    
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    

    div(class="row")    
        div(class="col")     
            a(href="/staff")
                button(type="button" class="btn btn-dark btn-center" style="height: 150px") 
                    h4 (205) 851 - 0419 
                    div Text our professional bartenders for personalized cocktail advice
    br
    br





