extends layout

block content
    

    div(class="card-body row text-dark bg-light" style="font-size:75%")
        h1 <strong>The Bar in Detail Service Terms</strong>

        br 
        br 
        h2 THE BAR IN DETAIL TERMS OF SERVICE (U.S.)

        br 
        p Your use of The Bar in Detail messaging service, and website, and any related offerings ("Service") is subject to these U.S. Terms of Service ("Terms"). 
        p THESE TERMS ARE A LEGAL AGREEMENT BETWEEN YOU AND THE BAR IN DETAIL. UNLESS YOU OPT OUT OF ARBITRATION WITHIN 30 DAYS OF ACCEPTING THESE TERMS (AS DESCRIBED BELOW), YOU WILL BE REQUIRED TO USE BINDING ARBITRATION TO RESOLVE DISPUTES WITH THE BAR IN DETAIL. PLEASE READ THESE TERMS CAREFULLY. THE SERVICE IS FOR PERSONS 21 YEARS OF AGE AND OLDER. YOU MAY NOT USE OUR SERVICE IF YOU ARE UNDER 21. YOU MAY NOT TEXT OUR PHONE NUMBER OR COMMUNICATE IN ANY WAY WITH OUR BARTENDERS OR ANY OTHER EXPERT. YOU MAY NOT SHARE INFORMATION ABOUT OUR SERVICE WITH ANYONE UNDER 21. If you have any questions about these Terms, please contact our jake@indetail.app. 
        br 
        p <strong>Messaging with The Bar in Detail</strong>
        br 
        p The Bar in Detail does not sell, offer to sell or solicit sales of alcohol: our Service enables you to message professional cocktail experts for help making alcoholic beverages. The professionals that you communicate are required to make a best effort to provide useful, relevant information. If you are unsatisfied with the service you have no recourse and may not hold The Bar in Detail or the professional assisting you via the service, responsible for any punitive damages.  Our Service may be limited or not available at all in some places due to local law or other restrictions.
        br 
        p <strong>Errors</strong> 
        br 
        p Sometimes recommendations from the professional cocktail experts—such as, but not limited to, images, descriptions, availability, pricing and reviews—contains errors. If you make a cocktail that is not what you expected based on your communication with the cocktail expert, your sole remedy is to opt out of tipping your service professional. 
        br 
        p <strong>Privacy and Communications</strong>
        br 
        p Use of the Service is subject to our Privacy Policy. When you use the Service or send e-mails, text messages, or other communications from your desktop or mobile device to us, you may be communicating with us electronically. You consent to receive electronic communications from us, and you agree that such electronic communications satisfy any legal requirement that a document be in writing.
        br 
        p <strong>The Bar in Detail ownership of the Service</strong>
        br 
        p The Bar in Detail and its licensors own the Service and its contents, including patent, copyright, trade secret, trademark, show-how, know-how and any other US or international intellectual property rights therein.
        br  
        p <strong>Disclaimer of warranties</strong>
        br 
        p USE OF THE SERVICE IS AT YOUR OWN RISK. THE SERVICE AND EVERYTHING RELATED TO IT IS PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS. THE BAR IN DETAIL MAKES NO EXPRESS OR IMPLIED WARRANTY OF ANY KIND. NO ORAL OR WRITTEN INFORMATION OR ADVICE PROVIDED BY THE BAR IN DETAIL OR ITS AUTHORIZED AGENT OR REPRESENTATIVE WILL BE DEEMED TO CREATE A WARRANTY. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES SO SOME OR ALL OF THE ABOVE EXCLUSIONS MAY NOT APPLY TO YOU. THE BAR IN DETAIL MAKES NO REPRESENTATION OR WARRANTY AS TO WHETHER IT IS LEGAL FOR YOU TO USE OUR SERVICE.
        br
        p <strong>Limitation of liability</strong>
        br 
        p THE BAR IN DETAIL IS NOT LIABLE FOR DAMAGES OF ANY KIND ARISING OUT OF OR RELATED TO YOUR USE OF THE SERVICE, INCLUDING DIRECT, INDIRECT, SPECIAL, EXEMPLARY, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, LOSS OF USE, DATA OR PROFITS OR ANY OTHER DAMAGES OR LOSSES OF ANY KIND.  If an arbitrator or a court finds The Bar in Detail liable for damages notwithstanding the foregoing, The Bar in Detail’s total liability for all damages shall not exceed the amount paid by you to The Bar in Detail for your use of the Service.
        br 
        p <strong>Updates</strong>
        br 
        p We may update these Terms at any time. Updates are effective as of the “Last updated” date at the end of these Terms. Your use of the Service after an update is your acceptance of the updated Terms. If any part of the Terms are found invalid, void, or unenforceable, that part shall be severed and not affect any remaining term or condition.
        br 
        p <strong>PRIVACY POLICY</strong>
        br 
        p This Privacy Policy describes how The Bar in Detail (“The Bar in Detail,” “we” or “us”) collects, uses and shares personal information, such as your name, address, phone number and email address. Use of The Bar in Detail messaging service, websites and apps (the “Service”) is subject to this Privacy Policy and our Terms of Service. Read them carefully to understand our practices and your options. We will notify you by email or through the Service before making significant changes to this Privacy Policy. If you have questions, please contact us at jake@indetail.app. The Service is for persons 21 years of age and older. Do not use the Service or send us information if you are under 21. We do not knowingly collect information about anyone under 21, and if we discover that we have personal information about somebody under 21, we will delete it as soon as possible.  If you think we have personal information about somebody under 21, please contact us as soon as possible at jake@indetail.app. Our Terms of Service have more information on age verification and eligibility to use our Service.
        br 
        p <strong>INFORMATION WE COLLECT ABOUT YOU</strong>
        br 
        p Information You Give Us. The Bar in Detail collects the information you give us when you text us, such as your mobile number and the content of your messages. Information from Other Sources. The Bar in Detail may obtain information about you from other sources, including retailers and other companies, social media, and public records.  If you use Facebook or another third party to login to the Service, we’ll receive information about you from them.
        br 
        p <strong>HOW WE USE YOUR INFORMATION</strong>
        br 
        p  We use the information we collect from you to do things like: provide and improve the Service; personalize your Service experience; obtain additional information about you from third parties; notify you of new services and special offers; help you share a product review or join a rewards program; troubleshoot problems with the Service; notify you of payment, billing, maintenance, and other account-related issues; provide customer service; investigate and address fraud; and create trend and preference information based on your use of the Service.
        br 
        p <strong>HOW WE SHARE YOUR INFORMATION</strong>
        br 
        p We share information collected from or about you as follows: Aggregated and Anonymized Data. The Bar in Detail may share or sell trend and preference information based on your use of the Service,  individually and with the information of other users. This information can be used for analysis, to develop consumer insights, and to deliver advertising about other products and services. We will first remove anything that personally identifies you. Service Providers. We use other companies and individuals to help us run the Service and support customers. These service providers may use your personal information to perform their work. Third-Party Analytics. We use analytics service providers to monitor and improve the Service. For more information, including information about setting preferences for and opting out of data collection by such service providers, please visit Google Analytics. Opting out may limit the functionality of the Service. Law Enforcement. We may share information about you to protect legal rights and public and personal safety, to stop illegal or unethical activity, or as required by law. Acquisition. If all or a part of The Bar in Detail is sold or transferred, or a similar event occurs, a third party may receive your personal information. If they will use your personal information contrary to this Privacy Policy, you will receive prior notice.
        br 
        p <strong>OTHER IMPORTANT NOTICES</strong>
        br 
        p Updating Your Personal Information and Preferences; Opting Out.  To opt out of the message service message ‘stop’ to +1 (312) 500 – 2798.  With any other needs or account change requests, please reach out to jake@indetail.app. Retention of Personal Information. The Bar in Detail may keep your personal information as long as needed for the purposes in this Privacy Policy unless a longer period is required or permitted by law. Invitations to The Bar in Detail. If you invite someone to use the Service, you will need to provide their mobile number. The Bar in Detail stores this information to send an invitation to them and track the results of the invitation referral.  You may not provide the name or email address of anyone under 21 years of age. Security. We use standard security practices such as encryption and firewalls to protect the information we collect from you. No security system is perfect, and we do not guarantee the security of your information. You are responsible for all actions taken in the name of your account, so use your discretion when providing information and managing your account. Use unique numbers, letters and special characters in your password and do not disclose it to anyone. Please review our Terms of Service for additional information. If your password is compromised notify us immediately at jake@indetail.app and change your password.
        br 
        p California Privacy Rights.
        br 
        p "Shine the Light" Law (Cal. Civ. Code § 1798.83). California residents may request certain information regarding the disclosure of their personal information to third parties for such third parties’ direct marketing purposes. Send these requests to jake@indetail.app, with the subject line "California Resident Shine the Light Request", and include your full name and address.
        br 
        p California Consumer Privacy Act (Cal. Civ. Code § 1798.100-1798.199). A California consumer has the following rights:
        p •	The right to request The Bar in Detail to disclose what personal information The Bar in Detail is collecting about them and to request a copy of that information;
        p •	The right to request The Bar in Detail to disclose whether their personal information is sold or disclosed and to whom;
        p •	The right to request The Bar in Detail to opt them out of the sale of their personal information (to the extent The Bar in Detail sells 
        p personal information about the consumer to third parties);
        p •	The right to request The Bar in Detail to delete their personal information; and the right to non-discrimination in the exercise of these rights.
        p California consumers are also entitled to certain periodic updates concerning their personal information.
        br 
        p Nevada Privacy Rights. Nevada consumers have the right to submit a request directing that we not sell certain covered information that we have collected or will collect about them. If you are a Nevada consumer and wish to make such a request, send your request to jake@indetail.app, with the subject line "Nevada Privacy Request". You must provide us with your full name and address. Note that The Bar in Detail may take reasonable steps to verify the authenticity of the request and the identity of the requestor.
        br 
        p Contact. You can contact us by email at jake@indetail.app
        br 
        p <strong>LAST UPDATED: November 24th, 2020</strong>
        p   
            a(href="/about") ABOUT


