extends layout

block content
    //p <a href="/home"><button type="button" class="btn btn-outline-primary">Home</button></a>
    
    h1 Apply
    p Apply to be a member of the Staff at The Bar in Detail
    p Submit your application <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAANAAcoQWIpUNUpPRTVVNkRQTk5DSEVGSDQyQ1Q3RVlHWC4u"><button type="button" class="btn btn-outline-primary">here</button></a> <strong>to earn $50</strong> and be featured here on The Bar In Detail, on our IG, YouTube and TikTok pages.
    p From there we'll start connecting you with viewers that may be interested in hiring you for events, parties, Zoom lessons and more.
    p Email us at jakeolins@outlook.com with any other type of inquiry

    
    form(action="/apply" method="post")
        br
        label Name:
        br
        input(type="text" id="applicantName" name="applicantName" placeholder="Yung Savage")
        br
        br
        label Bar:
        br
        input(type="text" id="applicantBar" name="applicantBar" placeholder="Hole in the Wall")
        br
        br
        label Drink:
        br
        input(type="text" id="applicantDrink" name="applicantDrink" placeholder="Tequila Freedom")
        br
        br
        label Story:
        br
        input(type="text" id="applicantStory" name="applicantStory" placeholder="Once upon a time")
        br
        br
        input(type="submit" value="Submit")
        br


