extends layout

block content
    h1 TheBar.InDetail
    p Curated cocktails & step by step instructions from professional bartenders
    p <a href="/bartender/recOIiRR03SMjZxbf"><button type="button" class="btn btn-outline-primary">Selection of the Week</button></a>
    p <a href="/menu"><button type="button" class="btn btn-outline-primary">Menu</button></a>
    p <a href="/staff"><button type="button" class="btn btn-outline-primary">Staff</button></a>