extends layout

block content
    h1 Menu
    table
        each drink in records
            tr
                td <a href="/drinks/#{drinkId}"><button type="button" class="btn btn-outline-primary">#{drink.fields.RecipeName}</button></a>
                td #{drink.fields.NameReadable}
                td #{drink.fields.Bartender}



            
