extends layout

block content
    //p <a href="/home"><button type="button" class="btn btn-outline-primary">Home</button></a>
    
    h1 Menu
    table
        each drink in records
            tr
                td <a href="/drinks/#{drink.fields.drinkId}"><button type="button" class="btn btn-outline-primary">#{drink.fields.RecipeName}</button></a>



            
