extends layout

block content
    p <a href="/home"><button type="button" class="btn btn-outline-primary">Home</button></a>
    
    h1 Staff
    table
        each bartender in records
            tr
                td <a href="/bartender/#{bartender.fields.bartenderId}"><button type="button" class="btn btn-outline-primary">#{bartender.fields.Name}</button></a>
